{
  "openapi": "3.1.0",
  "info": {
    "title": "Rento Vroom API",
    "version": "1.0.0",
    "description": "REST API for the Rento Vroom website and future apps. Every error response is `{ error: { code, message, fields? } }`. Requests that change data from a browser must come from the website's own origin."
  },
  "servers": [
    {
      "url": "https://api.rentovroom.com/api/v1",
      "description": "Production"
    },
    {
      "url": "http://localhost:4000/api/v1",
      "description": "Local development"
    }
  ],
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "rv_access",
        "description": "The 15-minute access token, set by the sign-in routes (the website)"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "The same access token in an Authorization header (mobile apps)"
      }
    },
    "schemas": {
      "UserResponse": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/PublicUser"
          }
        },
        "required": [
          "user"
        ]
      },
      "PublicUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "description": "YYYY-MM-DD (NZ), from the driver licence details; absent until they are entered"
          },
          "nameLocked": {
            "type": "boolean",
            "description": "The name must match the ID once the identity check has passed or is being checked: it is then corrected through a privacy request (POST /me/privacy-requests), not PATCH /me"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "GUEST",
                "HOST",
                "ADMIN",
                "SUPPORT"
              ]
            }
          },
          "emailVerified": {
            "type": "boolean"
          },
          "phone": {
            "type": "string",
            "description": "Verified mobile number, E.164 (+64211234567)"
          },
          "phoneVerified": {
            "type": "boolean"
          },
          "mfaEnabled": {
            "type": "boolean",
            "description": "Staff: whether two-factor sign-in is on"
          },
          "hostStatus": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "APPLIED",
              "APPROVED",
              "REJECTED",
              "SUSPENDED",
              null
            ],
            "description": "Where their Host application is; null if they never applied"
          },
          "pendingAgreements": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "TERMS",
                "PRIVACY",
                "GUEST",
                "HOST"
              ]
            },
            "description": "Legal documents with a new version the user must accept before carrying on (POST /me/agreements). Usually empty."
          }
        },
        "required": [
          "id",
          "email",
          "firstName",
          "lastName",
          "nameLocked",
          "roles",
          "emailVerified",
          "phoneVerified",
          "mfaEnabled",
          "hostStatus",
          "pendingAgreements"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable machine-readable code, e.g. VALIDATION_ERROR"
              },
              "message": {
                "type": "string",
                "description": "A message that can be shown to the user"
              },
              "fields": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "description": "One message per invalid input field"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "LoginResponse": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/UserResponse"
          },
          {
            "$ref": "#/components/schemas/MfaChallengeResponse"
          }
        ]
      },
      "MfaChallengeResponse": {
        "type": "object",
        "properties": {
          "mfaRequired": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "challenge": {
            "type": "string",
            "description": "Send back with the code to POST /auth/login/mfa (5 minutes)"
          }
        },
        "required": [
          "mfaRequired",
          "challenge"
        ]
      },
      "SessionResponse": {
        "type": "object",
        "properties": {
          "user": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PublicUser"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "user"
        ]
      },
      "EmailResponse": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "email"
        ]
      },
      "ResendVerificationResponse": {
        "type": "object",
        "properties": {
          "sent": {
            "type": "boolean",
            "description": "false when the email address is already confirmed"
          }
        },
        "required": [
          "sent"
        ]
      },
      "PhoneCodeResponse": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "description": "The number in E.164, e.g. +64211234567"
          },
          "sent": {
            "type": "boolean",
            "description": "false when it is already the verified number"
          }
        },
        "required": [
          "phone",
          "sent"
        ]
      },
      "UpdateMeRequest": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "lastName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          }
        }
      },
      "AcceptAgreementsRequest": {
        "type": "object",
        "properties": {
          "types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "TERMS",
                "PRIVACY",
                "GUEST",
                "HOST"
              ]
            },
            "minItems": 1,
            "maxItems": 4
          }
        },
        "required": [
          "types"
        ]
      },
      "MfaStatus": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "maxDevices": {
            "type": "integer",
            "description": "How many authenticator apps an account can have"
          },
          "devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MfaDevice"
            }
          }
        },
        "required": [
          "enabled",
          "maxDevices",
          "devices"
        ]
      },
      "MfaDevice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "addedAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastUsedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The last time one of its codes was used"
          }
        },
        "required": [
          "id",
          "name",
          "addedAt"
        ]
      },
      "MfaSetupResponse": {
        "type": "object",
        "properties": {
          "secret": {
            "type": "string",
            "description": "For typing into the app by hand"
          },
          "otpauthUrl": {
            "type": "string"
          },
          "qrCode": {
            "type": "string",
            "description": "The otpauth URL as a PNG data: URL"
          }
        },
        "required": [
          "secret",
          "otpauthUrl",
          "qrCode"
        ]
      },
      "Favourites": {
        "type": "object",
        "properties": {
          "vehicleIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Saved cars, most recent first"
          }
        },
        "required": [
          "vehicleIds"
        ]
      },
      "LastSearch": {
        "type": "object",
        "properties": {
          "place": {
            "type": "string",
            "maxLength": 100
          },
          "lat": {
            "type": "number",
            "minimum": -48,
            "maximum": -33
          },
          "lng": {
            "type": "number",
            "minimum": 165,
            "maximum": 179.9
          },
          "start": {
            "type": "string",
            "maxLength": 40,
            "description": "\"2026-10-12T10:00\" in NZ time"
          },
          "end": {
            "type": "string",
            "maxLength": 40
          }
        }
      },
      "SavedCars": {
        "type": "object",
        "properties": {
          "cars": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SavedCar"
            },
            "description": "Most recently saved first"
          },
          "search": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "place": {
                "type": "string"
              },
              "start": {
                "type": "string",
                "format": "date-time"
              },
              "end": {
                "type": "string",
                "format": "date-time"
              },
              "days": {
                "type": "integer"
              }
            },
            "required": [
              "start",
              "end",
              "days"
            ],
            "description": "The last search’s dates, while they are still ahead; null otherwise"
          }
        },
        "required": [
          "cars",
          "search"
        ]
      },
      "SavedCar": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string",
            "description": "e.g. \"2022 Toyota RAV4\""
          },
          "make": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "year": {
            "type": "integer"
          },
          "variant": {
            "type": "string"
          },
          "photo": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "url": {
                "type": "string"
              },
              "alt": {
                "type": "string"
              }
            },
            "required": [
              "url",
              "alt"
            ]
          },
          "suburb": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "distanceKm": {
            "type": [
              "number",
              "null"
            ],
            "description": "From the searched place; null without one"
          },
          "rating": {
            "$ref": "#/components/schemas/Rating"
          },
          "tripCount": {
            "type": "integer"
          },
          "dailyCents": {
            "type": "integer"
          },
          "estimate": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "days": {
                "type": "integer"
              },
              "totalCents": {
                "type": "integer",
                "description": "Every mandatory charge for the dates (rental, service fee, mandatory protection, GST), plus airport delivery for an airport search"
              },
              "includesAirportDelivery": {
                "type": "boolean"
              }
            },
            "required": [
              "days",
              "totalCents",
              "includesAirportDelivery"
            ],
            "description": "Only when the search has dates"
          },
          "instantBook": {
            "type": "boolean"
          },
          "delivery": {
            "type": "boolean",
            "description": "Delivers to an address"
          },
          "airportDelivery": {
            "type": "boolean"
          },
          "bodyType": {
            "type": "string",
            "enum": [
              "HATCHBACK",
              "SEDAN",
              "WAGON",
              "SUV",
              "UTE",
              "VAN",
              "PEOPLE_MOVER",
              "COUPE",
              "CONVERTIBLE"
            ]
          },
          "fuelType": {
            "type": "string",
            "enum": [
              "PETROL",
              "DIESEL",
              "HYBRID",
              "PHEV",
              "EV"
            ]
          },
          "transmission": {
            "type": "string",
            "enum": [
              "AUTOMATIC",
              "MANUAL"
            ]
          },
          "seats": {
            "type": "integer"
          },
          "unlimitedKm": {
            "type": "boolean"
          },
          "petFriendly": {
            "type": "boolean"
          },
          "childSeat": {
            "type": "boolean"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Up to three key features"
          },
          "listed": {
            "type": "boolean",
            "description": "Still live in search; false once the Host takes it down"
          },
          "availableForDates": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether it can be booked for the last searched dates: free, documents current and within its trip rules. Null without dates"
          }
        },
        "required": [
          "id",
          "slug",
          "title",
          "make",
          "model",
          "year",
          "photo",
          "distanceKm",
          "rating",
          "tripCount",
          "dailyCents",
          "estimate",
          "instantBook",
          "delivery",
          "airportDelivery",
          "bodyType",
          "fuelType",
          "transmission",
          "seats",
          "unlimitedKm",
          "petFriendly",
          "childSeat",
          "features",
          "listed",
          "availableForDates"
        ],
        "description": "A car saved with the heart. The estimate is for the last searched dates, when it can be booked"
      },
      "Rating": {
        "type": "object",
        "properties": {
          "avg": {
            "type": "number"
          },
          "count": {
            "type": "integer"
          }
        },
        "required": [
          "avg",
          "count"
        ],
        "description": "Average stars and how many reviews; count 0 shows as \"New\""
      },
      "SavedCards": {
        "type": "object",
        "properties": {
          "cards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SavedCard"
            }
          }
        },
        "required": [
          "cards"
        ]
      },
      "SavedCard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The Stripe PaymentMethod id (pm_…)"
          },
          "brand": {
            "type": "string",
            "description": "e.g. visa, mastercard, amex"
          },
          "last4": {
            "type": "string"
          },
          "expMonth": {
            "type": "integer"
          },
          "expYear": {
            "type": "integer"
          },
          "expired": {
            "type": "boolean"
          },
          "wallet": {
            "type": "string",
            "enum": [
              "apple_pay",
              "google_pay"
            ],
            "description": "Saved from Apple Pay or Google Pay"
          }
        },
        "required": [
          "id",
          "brand",
          "last4",
          "expMonth",
          "expYear",
          "expired"
        ]
      },
      "CardSetup": {
        "type": "object",
        "properties": {
          "clientSecret": {
            "type": "string",
            "description": "For the Payment Element to save one card. Never logged or stored."
          }
        },
        "required": [
          "clientSecret"
        ]
      },
      "PaymentHistory": {
        "type": "object",
        "properties": {
          "payments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentHistoryItem"
            },
            "description": "Newest first, up to 100"
          }
        },
        "required": [
          "payments"
        ]
      },
      "PaymentHistoryItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "bookingRef": {
            "type": "string"
          },
          "vehicleTitle": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "BOOKING",
              "EXTRA_CHARGE"
            ]
          },
          "amountCents": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "AUTHORISED",
              "SUCCEEDED",
              "FAILED",
              "REFUNDED",
              "PARTIALLY_REFUNDED"
            ],
            "description": "AUTHORISED: held on the card, not charged yet. FAILED is only listed for an extra charge still to pay"
          },
          "method": {
            "type": "string",
            "description": "e.g. \"Visa ending 4242\""
          },
          "at": {
            "type": "string",
            "format": "date-time"
          },
          "refundedCents": {
            "type": "integer"
          },
          "refunds": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "amountCents": {
                  "type": "integer"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "PENDING",
                    "SUCCEEDED",
                    "FAILED"
                  ]
                },
                "at": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "required": [
                "amountCents",
                "status",
                "at"
              ]
            }
          },
          "hasReceipt": {
            "type": "boolean",
            "description": "GET /bookings/{id}/receipt has a receipt for it (a paid extra charge is on its booking’s)"
          }
        },
        "required": [
          "id",
          "bookingRef",
          "vehicleTitle",
          "type",
          "amountCents",
          "status",
          "at",
          "refundedCents",
          "refunds",
          "hasReceipt"
        ]
      },
      "AccountClosure": {
        "type": "object",
        "properties": {
          "allowed": {
            "type": "boolean"
          },
          "blockers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "enum": [
                    "UPCOMING_TRIP",
                    "HOSTED_BOOKING",
                    "OPEN_INCIDENT",
                    "UNPAID_CHARGE",
                    "PAYOUT_DUE"
                  ]
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "description": "Why the account can’t be closed yet (plan §8.2): a trip or booking still to come or under way, an open incident, an unpaid charge or a payout still due"
          }
        },
        "required": [
          "allowed",
          "blockers"
        ]
      },
      "PrivacyRequestResponse": {
        "type": "object",
        "properties": {
          "ref": {
            "type": "string",
            "description": "The support ticket reference, e.g. ST-4HX8PA"
          },
          "alreadyOpen": {
            "type": "boolean",
            "description": "The same request was already open, so no new one was made"
          }
        },
        "required": [
          "ref",
          "alreadyOpen"
        ]
      },
      "PrivacyRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "ACCESS",
              "CORRECTION",
              "CLOSE_ACCOUNT"
            ],
            "description": "ACCESS: a copy of their information. CORRECTION: something to fix (say what). CLOSE_ACCOUNT: close and anonymise the account"
          },
          "message": {
            "type": "string",
            "maxLength": 2000
          }
        },
        "required": [
          "type"
        ]
      },
      "VerificationQueue": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VerificationQueueItem"
            }
          }
        },
        "required": [
          "items"
        ]
      },
      "VerificationQueueItem": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "IDENTITY",
              "LICENCE"
            ]
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "since": {
            "type": "string",
            "format": "date-time"
          },
          "identity": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              },
              "documentType": {
                "type": "string"
              },
              "licenceNumberMatched": {
                "type": "boolean",
                "description": "A driver licence used as the ID: whether its number is the licence’s on the account now. Left out for another document"
              },
              "dobMatched": {
                "type": "boolean",
                "description": "Whether the date of birth on the ID matched the account’s when it was checked"
              }
            },
            "required": [
              "status"
            ]
          },
          "licence": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "class": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "numberEnding": {
                "type": "string"
              },
              "version": {
                "type": "string"
              },
              "expiry": {
                "type": "string"
              },
              "issuedAt": {
                "type": "string"
              },
              "inEnglish": {
                "type": "boolean",
                "description": "Overseas licences: false when it isn’t in English, which then needs English proof"
              },
              "englishProof": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            },
            "required": [
              "class",
              "country",
              "numberEnding",
              "expiry",
              "status"
            ]
          },
          "dob": {
            "type": "string"
          },
          "riskFlags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "waitingBookings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ref": {
                  "type": "string"
                },
                "vehicleTitle": {
                  "type": "string"
                },
                "expiresAt": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "required": [
                "ref",
                "vehicleTitle"
              ]
            }
          }
        },
        "required": [
          "userId",
          "kind",
          "firstName",
          "lastName",
          "email",
          "reason",
          "since",
          "identity",
          "licence",
          "riskFlags",
          "waitingBookings"
        ]
      },
      "LicenceReviewResult": {
        "type": "object",
        "properties": {
          "licenceStatus": {
            "type": "string",
            "enum": [
              "APPROVED",
              "REJECTED"
            ]
          },
          "confirmed": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "References of the bookings this confirmed"
          },
          "waitingForHost": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Requests the Host still has to answer"
          },
          "released": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Bookings ended, with the card authorisation released"
          },
          "stillInReview": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Set when the other part (the identity check or the licence) still waits for support: the bookings that keep waiting for it"
          },
          "carSuspended": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Bookings not confirmed because their car (or its Host) is suspended: confirmed when the suspension is lifted, unless their time runs out first"
          }
        },
        "required": [
          "licenceStatus",
          "confirmed",
          "waitingForHost",
          "released"
        ]
      },
      "LicenceReviewRequest": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "APPROVE",
              "REJECT"
            ]
          },
          "note": {
            "type": "string",
            "maxLength": 500
          }
        },
        "required": [
          "decision"
        ]
      },
      "LicenceNumber": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string",
            "description": "The full licence number, as the person entered it"
          }
        },
        "required": [
          "number"
        ]
      },
      "AdminOverview": {
        "type": "object",
        "properties": {
          "metrics": {
            "type": "object",
            "properties": {
              "totalUsers": {
                "type": "integer"
              },
              "activeHosts": {
                "type": "integer"
              },
              "staffMembers": {
                "type": "integer"
              },
              "suspendedUsers": {
                "type": "integer"
              },
              "activeVehicles": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "upcomingBookings": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "bookingRevenueCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "pendingVerifications": {
                "type": [
                  "integer",
                  "null"
                ]
              }
            },
            "required": [
              "totalUsers",
              "activeHosts",
              "staffMembers",
              "suspendedUsers",
              "activeVehicles",
              "upcomingBookings",
              "bookingRevenueCents",
              "pendingVerifications"
            ]
          },
          "generatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "metrics",
          "generatedAt"
        ]
      },
      "PlatformSettingsResponse": {
        "type": "object",
        "properties": {
          "settings": {
            "$ref": "#/components/schemas/PlatformSettings"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When an admin last saved them"
          },
          "updatedBy": {
            "type": "string",
            "description": "The name of the admin who last saved them"
          }
        },
        "required": [
          "settings"
        ]
      },
      "PlatformSettings": {
        "type": "object",
        "properties": {
          "fees": {
            "type": "object",
            "properties": {
              "guestServiceFeePct": {
                "type": "number",
                "minimum": 0,
                "maximum": 100
              },
              "hostCommissionPct": {
                "type": "number",
                "minimum": 0,
                "maximum": 100
              },
              "gstRatePct": {
                "type": "number",
                "minimum": 0,
                "maximum": 100
              },
              "platformPaysCardFees": {
                "type": "boolean"
              }
            },
            "required": [
              "guestServiceFeePct",
              "hostCommissionPct",
              "gstRatePct",
              "platformPaysCardFees"
            ]
          },
          "cancellation": {
            "type": "object",
            "properties": {
              "tiers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "pattern": "^[A-Z][A-Z_]*$"
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "summary": {
                      "type": "string",
                      "minLength": 1
                    },
                    "refunds": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "minHoursBefore": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "refundPct": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 100
                          }
                        },
                        "required": [
                          "minHoursBefore",
                          "refundPct"
                        ]
                      },
                      "minItems": 1
                    }
                  },
                  "required": [
                    "code",
                    "name",
                    "summary",
                    "refunds"
                  ]
                },
                "minItems": 1
              },
              "hostSelectableTiers": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "defaultTier": {
                "type": "string"
              },
              "hostCancellationFeeCents": {
                "type": "integer",
                "minimum": 0
              },
              "guestCancellationHostSharePct": {
                "type": "number",
                "minimum": 0,
                "maximum": 100
              },
              "refundUnusedDaysOnEarlyReturn": {
                "type": "boolean"
              }
            },
            "required": [
              "tiers",
              "hostSelectableTiers",
              "defaultTier",
              "hostCancellationFeeCents",
              "guestCancellationHostSharePct",
              "refundUnusedDaysOnEarlyReturn"
            ]
          },
          "protectionPlans": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "pattern": "^[A-Z][A-Z_]*$"
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "dailyPriceCents": {
                  "type": "integer",
                  "minimum": 0
                },
                "excessCents": {
                  "type": "integer",
                  "minimum": 0
                },
                "coverSummary": {
                  "type": "string",
                  "minLength": 1
                },
                "mandatory": {
                  "type": "boolean"
                },
                "roadsidePhone": {
                  "type": "string",
                  "pattern": "^(\\+?[\\d ()-]{6,20})?$",
                  "description": "The plan’s own roadside assistance number; empty or missing means roadsideAssistance.phone"
                }
              },
              "required": [
                "code",
                "name",
                "dailyPriceCents",
                "excessCents",
                "coverSummary",
                "mandatory"
              ]
            },
            "minItems": 1
          },
          "eligibility": {
            "type": "object",
            "properties": {
              "minAge": {
                "type": "integer",
                "minimum": 16,
                "maximum": 99
              },
              "minYearsLicensed": {
                "type": "number",
                "minimum": 0,
                "maximum": 20
              },
              "acceptedLicenceClasses": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "NZ_FULL",
                    "NZ_RESTRICTED",
                    "NZ_LEARNER",
                    "OVERSEAS"
                  ]
                },
                "minItems": 1
              },
              "overseasNeedsEnglishProof": {
                "type": "boolean"
              }
            },
            "required": [
              "minAge",
              "minYearsLicensed",
              "acceptedLicenceClasses",
              "overseasNeedsEnglishProof"
            ]
          },
          "verification": {
            "type": "object",
            "properties": {
              "identityBeforeFirstBooking": {
                "type": "boolean"
              },
              "identityForHosts": {
                "type": "boolean"
              },
              "phoneAtCheckout": {
                "type": "boolean"
              },
              "emailBeforeTripStart": {
                "type": "boolean"
              }
            },
            "required": [
              "identityBeforeFirstBooking",
              "identityForHosts",
              "phoneAtCheckout",
              "emailBeforeTripStart"
            ]
          },
          "vehicles": {
            "type": "object",
            "properties": {
              "requiredDocuments": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "REGO",
                    "WOF",
                    "COF",
                    "RUC",
                    "INSURANCE",
                    "OWNER_CONSENT",
                    "OTHER"
                  ]
                }
              },
              "requiredPhotoAngles": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "FRONT",
                    "REAR",
                    "DRIVER",
                    "PASSENGER",
                    "INTERIOR",
                    "DASH",
                    "BOOT",
                    "TYRES",
                    "DAMAGE"
                  ]
                }
              },
              "vinOrChassisRequired": {
                "type": "boolean"
              },
              "minPhotoWidthPx": {
                "type": "integer",
                "minimum": 0
              },
              "minPhotoHeightPx": {
                "type": "integer",
                "minimum": 0
              },
              "seats": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "max": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "required": [
                  "min",
                  "max"
                ]
              },
              "doors": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "max": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "required": [
                  "min",
                  "max"
                ]
              },
              "dailyPriceCents": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "max": {
                    "type": "integer",
                    "minimum": 0
                  }
                },
                "required": [
                  "min",
                  "max"
                ]
              },
              "maxDiscountPct": {
                "type": "number",
                "minimum": 0,
                "maximum": 100
              }
            },
            "required": [
              "requiredDocuments",
              "requiredPhotoAngles",
              "vinOrChassisRequired",
              "minPhotoWidthPx",
              "minPhotoHeightPx",
              "seats",
              "doors",
              "dailyPriceCents",
              "maxDiscountPct"
            ]
          },
          "reviews": {
            "type": "object",
            "properties": {
              "windowDays": {
                "type": "integer",
                "minimum": 1
              },
              "revealTogether": {
                "type": "boolean"
              },
              "homepageThreshold": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "windowDays",
              "revealTogether",
              "homepageThreshold"
            ]
          },
          "trips": {
            "type": "object",
            "properties": {
              "lateReturnGraceMinutes": {
                "type": "integer",
                "minimum": 0
              },
              "damageReportWindowHours": {
                "type": "integer",
                "minimum": 0
              },
              "threadReadOnlyDays": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "lateReturnGraceMinutes",
              "damageReportWindowHours",
              "threadReadOnlyDays"
            ]
          },
          "search": {
            "type": "object",
            "properties": {
              "maxTripDays": {
                "type": "integer",
                "minimum": 1
              },
              "radiusKm": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "number",
                    "minimum": 1
                  },
                  "default": {
                    "type": "number",
                    "minimum": 1
                  },
                  "max": {
                    "type": "number",
                    "minimum": 1
                  }
                },
                "required": [
                  "min",
                  "default",
                  "max"
                ]
              }
            },
            "required": [
              "maxTripDays",
              "radiusKm"
            ]
          },
          "retention": {
            "type": "object",
            "properties": {
              "financialRecordsYears": {
                "type": "integer",
                "minimum": 0
              },
              "idImagesDays": {
                "type": "integer",
                "minimum": 0
              },
              "tripRecordsYears": {
                "type": "integer",
                "minimum": 0
              },
              "auditLogYears": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "financialRecordsYears",
              "idImagesDays",
              "tripRecordsYears",
              "auditLogYears"
            ]
          },
          "risk": {
            "type": "object",
            "properties": {
              "failedPaymentsPerDay": {
                "type": "integer",
                "minimum": 0
              },
              "bookingsPerDay": {
                "type": "integer",
                "minimum": 0
              },
              "reportsBeforeFlag": {
                "type": "integer",
                "minimum": 0
              },
              "hostCancellationsPer90Days": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "failedPaymentsPerDay",
              "bookingsPerDay",
              "reportsBeforeFlag",
              "hostCancellationsPer90Days"
            ]
          },
          "sms": {
            "type": "object",
            "properties": {
              "quietHoursStart": {
                "type": "string",
                "pattern": "^([01]\\d|2[0-3]):[0-5]\\d$"
              },
              "quietHoursEnd": {
                "type": "string",
                "pattern": "^([01]\\d|2[0-3]):[0-5]\\d$"
              }
            },
            "required": [
              "quietHoursStart",
              "quietHoursEnd"
            ]
          },
          "hostEstimator": {
            "type": "object",
            "properties": {
              "bookedDaysPerMonth": {
                "type": "integer",
                "minimum": 1,
                "maximum": 31
              },
              "dailyCentsByBodyType": {
                "type": "object",
                "properties": {
                  "HATCHBACK": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "SEDAN": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "WAGON": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "SUV": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "UTE": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "VAN": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "PEOPLE_MOVER": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "COUPE": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "CONVERTIBLE": {
                    "type": "integer",
                    "minimum": 0
                  }
                }
              }
            },
            "required": [
              "bookedDaysPerMonth",
              "dailyCentsByBodyType"
            ]
          },
          "business": {
            "type": "object",
            "properties": {
              "legalName": {
                "type": "string",
                "minLength": 1
              },
              "gstNumber": {
                "type": "string",
                "pattern": "^(\\d{2,3}-\\d{3}-\\d{3})?$"
              },
              "supportEmail": {
                "type": "string",
                "format": "email"
              }
            },
            "required": [
              "legalName",
              "gstNumber",
              "supportEmail"
            ]
          },
          "decisions": {
            "type": "object",
            "properties": {
              "fees": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "status",
                  "note"
                ]
              },
              "cancellation": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "status",
                  "note"
                ]
              },
              "securityDeposit": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "status",
                  "note"
                ]
              },
              "eligibility": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "status",
                  "note"
                ]
              },
              "gst": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "status",
                  "note"
                ]
              },
              "protection": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "status",
                  "note"
                ]
              },
              "reviewsAndTrips": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "status",
                  "note"
                ]
              },
              "company": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "status",
                  "note"
                ]
              },
              "bookingRules": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "status",
                  "note"
                ]
              },
              "verificationServices": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "status",
                  "note"
                ]
              }
            },
            "required": [
              "fees",
              "cancellation",
              "securityDeposit",
              "eligibility",
              "gst",
              "protection",
              "reviewsAndTrips",
              "company",
              "bookingRules",
              "verificationServices"
            ]
          },
          "securityDeposit": {
            "type": "object",
            "properties": {
              "amountCents": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "amountCents"
            ]
          },
          "roadsideAssistance": {
            "type": "object",
            "properties": {
              "phone": {
                "type": "string",
                "pattern": "^(\\+?[\\d ()-]{6,20})?$"
              }
            },
            "required": [
              "phone"
            ]
          },
          "brandChecks": {
            "type": "object",
            "properties": {
              "finalLogoSupplied": {
                "type": "boolean"
              },
              "trademarkSearchDone": {
                "type": "boolean"
              },
              "companyNameCheckDone": {
                "type": "boolean"
              }
            },
            "required": [
              "finalLogoSupplied",
              "trademarkSearchDone",
              "companyNameCheckDone"
            ]
          },
          "bookingRules": {
            "type": "object",
            "properties": {
              "enquiriesBeforeBooking": {
                "type": "boolean"
              },
              "additionalDrivers": {
                "type": "boolean"
              }
            },
            "required": [
              "enquiriesBeforeBooking",
              "additionalDrivers"
            ]
          },
          "verificationServices": {
            "type": "object",
            "properties": {
              "nzLicenceCheck": {
                "type": "boolean"
              },
              "plateLookup": {
                "type": "boolean"
              }
            },
            "required": [
              "nzLicenceCheck",
              "plateLookup"
            ]
          }
        },
        "required": [
          "fees",
          "cancellation",
          "protectionPlans",
          "eligibility",
          "verification",
          "vehicles",
          "reviews",
          "trips",
          "search",
          "retention",
          "risk",
          "sms",
          "hostEstimator",
          "business",
          "decisions",
          "securityDeposit",
          "roadsideAssistance",
          "brandChecks",
          "bookingRules",
          "verificationServices"
        ]
      },
      "PlatformSettingsUpdate": {
        "type": "object",
        "properties": {
          "fees": {
            "type": "object",
            "properties": {
              "guestServiceFeePct": {
                "type": "number",
                "minimum": 0,
                "maximum": 100
              },
              "hostCommissionPct": {
                "type": "number",
                "minimum": 0,
                "maximum": 100
              },
              "gstRatePct": {
                "type": "number",
                "minimum": 0,
                "maximum": 100
              },
              "platformPaysCardFees": {
                "type": "boolean"
              }
            },
            "required": [
              "guestServiceFeePct",
              "hostCommissionPct",
              "gstRatePct",
              "platformPaysCardFees"
            ]
          },
          "cancellation": {
            "type": "object",
            "properties": {
              "tiers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "pattern": "^[A-Z][A-Z_]*$"
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "summary": {
                      "type": "string",
                      "minLength": 1
                    },
                    "refunds": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "minHoursBefore": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "refundPct": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 100
                          }
                        },
                        "required": [
                          "minHoursBefore",
                          "refundPct"
                        ]
                      },
                      "minItems": 1
                    }
                  },
                  "required": [
                    "code",
                    "name",
                    "summary",
                    "refunds"
                  ]
                },
                "minItems": 1
              },
              "hostSelectableTiers": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "defaultTier": {
                "type": "string"
              },
              "hostCancellationFeeCents": {
                "type": "integer",
                "minimum": 0
              },
              "guestCancellationHostSharePct": {
                "type": "number",
                "minimum": 0,
                "maximum": 100
              },
              "refundUnusedDaysOnEarlyReturn": {
                "type": "boolean"
              }
            },
            "required": [
              "tiers",
              "hostSelectableTiers",
              "defaultTier",
              "hostCancellationFeeCents",
              "guestCancellationHostSharePct",
              "refundUnusedDaysOnEarlyReturn"
            ]
          },
          "protectionPlans": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "pattern": "^[A-Z][A-Z_]*$"
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "dailyPriceCents": {
                  "type": "integer",
                  "minimum": 0
                },
                "excessCents": {
                  "type": "integer",
                  "minimum": 0
                },
                "coverSummary": {
                  "type": "string",
                  "minLength": 1
                },
                "mandatory": {
                  "type": "boolean"
                },
                "roadsidePhone": {
                  "type": "string",
                  "pattern": "^(\\+?[\\d ()-]{6,20})?$",
                  "description": "The plan’s own roadside assistance number; empty or missing means roadsideAssistance.phone"
                }
              },
              "required": [
                "code",
                "name",
                "dailyPriceCents",
                "excessCents",
                "coverSummary",
                "mandatory"
              ]
            },
            "minItems": 1
          },
          "eligibility": {
            "type": "object",
            "properties": {
              "minAge": {
                "type": "integer",
                "minimum": 16,
                "maximum": 99
              },
              "minYearsLicensed": {
                "type": "number",
                "minimum": 0,
                "maximum": 20
              },
              "acceptedLicenceClasses": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "NZ_FULL",
                    "NZ_RESTRICTED",
                    "NZ_LEARNER",
                    "OVERSEAS"
                  ]
                },
                "minItems": 1
              },
              "overseasNeedsEnglishProof": {
                "type": "boolean"
              }
            },
            "required": [
              "minAge",
              "minYearsLicensed",
              "acceptedLicenceClasses",
              "overseasNeedsEnglishProof"
            ]
          },
          "verification": {
            "type": "object",
            "properties": {
              "identityBeforeFirstBooking": {
                "type": "boolean"
              },
              "identityForHosts": {
                "type": "boolean"
              },
              "phoneAtCheckout": {
                "type": "boolean"
              },
              "emailBeforeTripStart": {
                "type": "boolean"
              }
            },
            "required": [
              "identityBeforeFirstBooking",
              "identityForHosts",
              "phoneAtCheckout",
              "emailBeforeTripStart"
            ]
          },
          "vehicles": {
            "type": "object",
            "properties": {
              "requiredDocuments": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "REGO",
                    "WOF",
                    "COF",
                    "RUC",
                    "INSURANCE",
                    "OWNER_CONSENT",
                    "OTHER"
                  ]
                }
              },
              "requiredPhotoAngles": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "FRONT",
                    "REAR",
                    "DRIVER",
                    "PASSENGER",
                    "INTERIOR",
                    "DASH",
                    "BOOT",
                    "TYRES",
                    "DAMAGE"
                  ]
                }
              },
              "vinOrChassisRequired": {
                "type": "boolean"
              },
              "minPhotoWidthPx": {
                "type": "integer",
                "minimum": 0
              },
              "minPhotoHeightPx": {
                "type": "integer",
                "minimum": 0
              },
              "seats": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "max": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "required": [
                  "min",
                  "max"
                ]
              },
              "doors": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "max": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "required": [
                  "min",
                  "max"
                ]
              },
              "dailyPriceCents": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "max": {
                    "type": "integer",
                    "minimum": 0
                  }
                },
                "required": [
                  "min",
                  "max"
                ]
              },
              "maxDiscountPct": {
                "type": "number",
                "minimum": 0,
                "maximum": 100
              }
            },
            "required": [
              "requiredDocuments",
              "requiredPhotoAngles",
              "vinOrChassisRequired",
              "minPhotoWidthPx",
              "minPhotoHeightPx",
              "seats",
              "doors",
              "dailyPriceCents",
              "maxDiscountPct"
            ]
          },
          "reviews": {
            "type": "object",
            "properties": {
              "windowDays": {
                "type": "integer",
                "minimum": 1
              },
              "revealTogether": {
                "type": "boolean"
              },
              "homepageThreshold": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "windowDays",
              "revealTogether",
              "homepageThreshold"
            ]
          },
          "trips": {
            "type": "object",
            "properties": {
              "lateReturnGraceMinutes": {
                "type": "integer",
                "minimum": 0
              },
              "damageReportWindowHours": {
                "type": "integer",
                "minimum": 0
              },
              "threadReadOnlyDays": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "lateReturnGraceMinutes",
              "damageReportWindowHours",
              "threadReadOnlyDays"
            ]
          },
          "search": {
            "type": "object",
            "properties": {
              "maxTripDays": {
                "type": "integer",
                "minimum": 1
              },
              "radiusKm": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "number",
                    "minimum": 1
                  },
                  "default": {
                    "type": "number",
                    "minimum": 1
                  },
                  "max": {
                    "type": "number",
                    "minimum": 1
                  }
                },
                "required": [
                  "min",
                  "default",
                  "max"
                ]
              }
            },
            "required": [
              "maxTripDays",
              "radiusKm"
            ]
          },
          "retention": {
            "type": "object",
            "properties": {
              "financialRecordsYears": {
                "type": "integer",
                "minimum": 0
              },
              "idImagesDays": {
                "type": "integer",
                "minimum": 0
              },
              "tripRecordsYears": {
                "type": "integer",
                "minimum": 0
              },
              "auditLogYears": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "financialRecordsYears",
              "idImagesDays",
              "tripRecordsYears",
              "auditLogYears"
            ]
          },
          "risk": {
            "type": "object",
            "properties": {
              "failedPaymentsPerDay": {
                "type": "integer",
                "minimum": 0
              },
              "bookingsPerDay": {
                "type": "integer",
                "minimum": 0
              },
              "reportsBeforeFlag": {
                "type": "integer",
                "minimum": 0
              },
              "hostCancellationsPer90Days": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "failedPaymentsPerDay",
              "bookingsPerDay",
              "reportsBeforeFlag",
              "hostCancellationsPer90Days"
            ]
          },
          "sms": {
            "type": "object",
            "properties": {
              "quietHoursStart": {
                "type": "string",
                "pattern": "^([01]\\d|2[0-3]):[0-5]\\d$"
              },
              "quietHoursEnd": {
                "type": "string",
                "pattern": "^([01]\\d|2[0-3]):[0-5]\\d$"
              }
            },
            "required": [
              "quietHoursStart",
              "quietHoursEnd"
            ]
          },
          "hostEstimator": {
            "type": "object",
            "properties": {
              "bookedDaysPerMonth": {
                "type": "integer",
                "minimum": 1,
                "maximum": 31
              },
              "dailyCentsByBodyType": {
                "type": "object",
                "properties": {
                  "HATCHBACK": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "SEDAN": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "WAGON": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "SUV": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "UTE": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "VAN": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "PEOPLE_MOVER": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "COUPE": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "CONVERTIBLE": {
                    "type": "integer",
                    "minimum": 0
                  }
                }
              }
            },
            "required": [
              "bookedDaysPerMonth",
              "dailyCentsByBodyType"
            ]
          },
          "business": {
            "type": "object",
            "properties": {
              "legalName": {
                "type": "string",
                "minLength": 1
              },
              "gstNumber": {
                "type": "string",
                "pattern": "^(\\d{2,3}-\\d{3}-\\d{3})?$"
              },
              "supportEmail": {
                "type": "string",
                "format": "email"
              }
            },
            "required": [
              "legalName",
              "gstNumber",
              "supportEmail"
            ]
          },
          "decisions": {
            "type": "object",
            "properties": {
              "fees": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "status",
                  "note"
                ]
              },
              "cancellation": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "status",
                  "note"
                ]
              },
              "securityDeposit": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "status",
                  "note"
                ]
              },
              "eligibility": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "status",
                  "note"
                ]
              },
              "gst": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "status",
                  "note"
                ]
              },
              "protection": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "status",
                  "note"
                ]
              },
              "reviewsAndTrips": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "status",
                  "note"
                ]
              },
              "company": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "status",
                  "note"
                ]
              },
              "bookingRules": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "status",
                  "note"
                ]
              },
              "verificationServices": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 300
                  }
                },
                "required": [
                  "status",
                  "note"
                ]
              }
            }
          },
          "securityDeposit": {
            "type": "object",
            "properties": {
              "amountCents": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "amountCents"
            ]
          },
          "roadsideAssistance": {
            "type": "object",
            "properties": {
              "phone": {
                "type": "string",
                "pattern": "^(\\+?[\\d ()-]{6,20})?$"
              }
            },
            "required": [
              "phone"
            ]
          },
          "brandChecks": {
            "type": "object",
            "properties": {
              "finalLogoSupplied": {
                "type": "boolean"
              },
              "trademarkSearchDone": {
                "type": "boolean"
              },
              "companyNameCheckDone": {
                "type": "boolean"
              }
            },
            "required": [
              "finalLogoSupplied",
              "trademarkSearchDone",
              "companyNameCheckDone"
            ]
          },
          "bookingRules": {
            "type": "object",
            "properties": {
              "enquiriesBeforeBooking": {
                "type": "boolean"
              },
              "additionalDrivers": {
                "type": "boolean"
              }
            },
            "required": [
              "enquiriesBeforeBooking",
              "additionalDrivers"
            ]
          },
          "verificationServices": {
            "type": "object",
            "properties": {
              "nzLicenceCheck": {
                "type": "boolean"
              },
              "plateLookup": {
                "type": "boolean"
              }
            },
            "required": [
              "nzLicenceCheck",
              "plateLookup"
            ]
          }
        },
        "additionalProperties": false
      },
      "TestPayment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The Stripe PaymentIntent id (pi_…)"
          },
          "clientSecret": {
            "type": "string",
            "description": "Lets Stripe.js on the page confirm this one payment. Never logged or stored."
          },
          "amountCents": {
            "type": "integer"
          },
          "currency": {
            "type": "string",
            "enum": [
              "nzd"
            ]
          }
        },
        "required": [
          "id",
          "clientSecret",
          "amountCents",
          "currency"
        ]
      },
      "TestPaymentStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "The PaymentIntent status: succeeded, processing, requires_payment_method, requires_action, canceled, …"
          },
          "amountCents": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "paymentMethod": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "type": {
                "type": "string",
                "description": "The payment method type, e.g. card or link"
              },
              "wallet": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "apple_pay or google_pay when a card was paid through a wallet"
              },
              "brand": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "The card brand, e.g. visa"
              },
              "last4": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "type",
              "wallet",
              "brand",
              "last4"
            ],
            "description": "Null until the payment has been attempted"
          },
          "webhookReceived": {
            "type": "boolean",
            "description": "Whether Stripe’s payment_intent.succeeded event reached the webhook"
          }
        },
        "required": [
          "id",
          "status",
          "amountCents",
          "currency",
          "paymentMethod",
          "webhookReceived"
        ]
      },
      "StaffList": {
        "type": "object",
        "properties": {
          "staff": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StaffMember"
            }
          },
          "invites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StaffInvite"
            }
          }
        },
        "required": [
          "staff",
          "invites"
        ]
      },
      "StaffMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "ADMIN",
              "SUPPORT"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "SUSPENDED"
            ]
          },
          "mfaEnabled": {
            "type": "boolean"
          },
          "lastLoginAt": {
            "type": "string",
            "format": "date-time"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "REFUNDS"
              ]
            },
            "description": "What they can do beyond the support role (plan §6.2): REFUNDS for refunds, payments and payouts. The admin has every permission."
          }
        },
        "required": [
          "id",
          "email",
          "firstName",
          "lastName",
          "role",
          "status",
          "mfaEnabled",
          "permissions"
        ]
      },
      "StaffInvite": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "invitedAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "The link stops working after this"
          }
        },
        "required": [
          "id",
          "email",
          "firstName",
          "lastName",
          "invitedAt",
          "expiresAt"
        ]
      },
      "StaffInviteResponse": {
        "type": "object",
        "properties": {
          "invite": {
            "$ref": "#/components/schemas/StaffInvite"
          }
        },
        "required": [
          "invite"
        ]
      },
      "StaffInviteDetails": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "existingAccount": {
            "type": "boolean",
            "description": "The email already has a Rento Vroom account; the new password replaces its old one"
          }
        },
        "required": [
          "email",
          "firstName",
          "existingAccount"
        ]
      },
      "ExchangeRates": {
        "type": "object",
        "properties": {
          "base": {
            "type": "string",
            "enum": [
              "NZD"
            ]
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "The day the rates are for; the ECB publishes on European working days"
          },
          "source": {
            "type": "string",
            "description": "Who published the rates"
          },
          "rates": {
            "type": "object",
            "properties": {
              "AUD": {
                "type": "number",
                "exclusiveMinimum": 0
              },
              "USD": {
                "type": "number",
                "exclusiveMinimum": 0
              },
              "EUR": {
                "type": "number",
                "exclusiveMinimum": 0
              },
              "CAD": {
                "type": "number",
                "exclusiveMinimum": 0
              }
            },
            "required": [
              "AUD",
              "USD",
              "EUR",
              "CAD"
            ],
            "description": "How much of each currency NZ$1 buys"
          }
        },
        "required": [
          "base",
          "date",
          "source",
          "rates"
        ]
      },
      "SearchResults": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VehicleCard"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "place": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "label": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "lat": {
                "type": "number"
              },
              "lng": {
                "type": "number"
              },
              "airportCode": {
                "type": "string"
              }
            },
            "required": [
              "label",
              "type",
              "lat",
              "lng"
            ],
            "description": "The place searched; null for all of NZ"
          },
          "radiusKm": {
            "type": "number"
          },
          "dates": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "start": {
                "type": "string",
                "format": "date-time"
              },
              "end": {
                "type": "string",
                "format": "date-time"
              },
              "days": {
                "type": "integer"
              }
            },
            "required": [
              "start",
              "end",
              "days"
            ]
          },
          "placeNotFound": {
            "type": "boolean",
            "description": "The typed place matched nothing, so the results cover all of NZ"
          }
        },
        "required": [
          "results",
          "total",
          "page",
          "pageSize",
          "place",
          "radiusKm",
          "dates",
          "placeNotFound"
        ]
      },
      "VehicleCard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string",
            "description": "e.g. \"2022 Toyota RAV4\""
          },
          "make": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "year": {
            "type": "integer"
          },
          "variant": {
            "type": "string"
          },
          "photo": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "url": {
                "type": "string"
              },
              "alt": {
                "type": "string"
              }
            },
            "required": [
              "url",
              "alt"
            ]
          },
          "suburb": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "distanceKm": {
            "type": [
              "number",
              "null"
            ],
            "description": "From the searched place; null without one"
          },
          "rating": {
            "$ref": "#/components/schemas/Rating"
          },
          "tripCount": {
            "type": "integer"
          },
          "dailyCents": {
            "type": "integer"
          },
          "estimate": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "days": {
                "type": "integer"
              },
              "totalCents": {
                "type": "integer",
                "description": "Every mandatory charge for the dates (rental, service fee, mandatory protection, GST), plus airport delivery for an airport search"
              },
              "includesAirportDelivery": {
                "type": "boolean"
              }
            },
            "required": [
              "days",
              "totalCents",
              "includesAirportDelivery"
            ],
            "description": "Only when the search has dates"
          },
          "instantBook": {
            "type": "boolean"
          },
          "delivery": {
            "type": "boolean",
            "description": "Delivers to an address"
          },
          "airportDelivery": {
            "type": "boolean"
          },
          "bodyType": {
            "type": "string",
            "enum": [
              "HATCHBACK",
              "SEDAN",
              "WAGON",
              "SUV",
              "UTE",
              "VAN",
              "PEOPLE_MOVER",
              "COUPE",
              "CONVERTIBLE"
            ]
          },
          "fuelType": {
            "type": "string",
            "enum": [
              "PETROL",
              "DIESEL",
              "HYBRID",
              "PHEV",
              "EV"
            ]
          },
          "transmission": {
            "type": "string",
            "enum": [
              "AUTOMATIC",
              "MANUAL"
            ]
          },
          "seats": {
            "type": "integer"
          },
          "unlimitedKm": {
            "type": "boolean"
          },
          "petFriendly": {
            "type": "boolean"
          },
          "childSeat": {
            "type": "boolean"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Up to three key features"
          }
        },
        "required": [
          "id",
          "slug",
          "title",
          "make",
          "model",
          "year",
          "photo",
          "distanceKm",
          "rating",
          "tripCount",
          "dailyCents",
          "estimate",
          "instantBook",
          "delivery",
          "airportDelivery",
          "bodyType",
          "fuelType",
          "transmission",
          "seats",
          "unlimitedKm",
          "petFriendly",
          "childSeat",
          "features"
        ]
      },
      "VehicleMakes": {
        "type": "object",
        "properties": {
          "makes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "make": {
                  "type": "string"
                },
                "models": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "make",
                "models"
              ]
            }
          }
        },
        "required": [
          "makes"
        ]
      },
      "PlaceSuggestions": {
        "type": "object",
        "properties": {
          "suggestions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlaceSuggestion"
            }
          }
        },
        "required": [
          "suggestions"
        ]
      },
      "PlaceSuggestion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "`place:<id>` for our places, `google:<placeId>` for a street address"
          },
          "type": {
            "type": "string",
            "enum": [
              "CITY",
              "SUBURB",
              "AIRPORT",
              "DESTINATION",
              "ADDRESS"
            ]
          },
          "name": {
            "type": "string"
          },
          "label": {
            "type": "string",
            "description": "What to show and put in the field, e.g. \"Auckland Airport (AKL)\""
          },
          "secondary": {
            "type": "string",
            "description": "The city or region under the name"
          },
          "code": {
            "type": "string",
            "description": "Airports: the IATA code"
          },
          "city": {
            "type": "string",
            "description": "The town or city it is in (itself for a city), for addresses"
          },
          "region": {
            "type": "string",
            "enum": [
              "Northland",
              "Auckland",
              "Waikato",
              "Bay of Plenty",
              "Gisborne",
              "Hawke's Bay",
              "Taranaki",
              "Manawatū-Whanganui",
              "Wellington",
              "Tasman",
              "Nelson",
              "Marlborough",
              "West Coast",
              "Canterbury",
              "Otago",
              "Southland"
            ],
            "description": "The NZ region, for addresses"
          },
          "lat": {
            "type": "number",
            "description": "Our places include coordinates; addresses need GET /places/{id}"
          },
          "lng": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "type",
          "name",
          "label"
        ]
      },
      "PlaceResponse": {
        "type": "object",
        "properties": {
          "place": {
            "$ref": "#/components/schemas/PlaceDetails"
          }
        },
        "required": [
          "place"
        ]
      },
      "PlaceDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "`place:<id>` for our places, `google:<placeId>` for a street address"
          },
          "type": {
            "type": "string",
            "enum": [
              "CITY",
              "SUBURB",
              "AIRPORT",
              "DESTINATION",
              "ADDRESS"
            ]
          },
          "name": {
            "type": "string"
          },
          "label": {
            "type": "string",
            "description": "What to show and put in the field, e.g. \"Auckland Airport (AKL)\""
          },
          "secondary": {
            "type": "string",
            "description": "The city or region under the name"
          },
          "code": {
            "type": "string",
            "description": "Airports: the IATA code"
          },
          "city": {
            "type": "string",
            "description": "The town or city it is in (itself for a city), for addresses"
          },
          "region": {
            "type": "string",
            "enum": [
              "Northland",
              "Auckland",
              "Waikato",
              "Bay of Plenty",
              "Gisborne",
              "Hawke's Bay",
              "Taranaki",
              "Manawatū-Whanganui",
              "Wellington",
              "Tasman",
              "Nelson",
              "Marlborough",
              "West Coast",
              "Canterbury",
              "Otago",
              "Southland"
            ],
            "description": "The NZ region, for addresses"
          },
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          },
          "address": {
            "type": "object",
            "properties": {
              "unit": {
                "type": "string",
                "maxLength": 20
              },
              "streetNumber": {
                "type": "string",
                "maxLength": 20
              },
              "street": {
                "type": "string",
                "minLength": 2,
                "maxLength": 120
              },
              "suburb": {
                "type": "string",
                "maxLength": 80
              },
              "city": {
                "type": "string",
                "minLength": 2,
                "maxLength": 80
              },
              "region": {
                "type": "string",
                "enum": [
                  "Northland",
                  "Auckland",
                  "Waikato",
                  "Bay of Plenty",
                  "Gisborne",
                  "Hawke's Bay",
[...]
