{
  "openapi": "3.1.0",
  "info": {
    "title": "Rento Vroom API",
    "version": "1.0.0",
    "description": "REST API for the Rento Vroom website and future apps. Every error response is `{ error: { code, message, fields? } }`. Requests that change data from a browser must come from the website's own origin."
  },
  "servers": [
    {
      "url": "https://api.rentovroom.com/api/v1",
      "description": "Production"
    },
    {
      "url": "http://localhost:4000/api/v1",
      "description": "Local development"
    }
  ],
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "rv_access",
        "description": "The 15-minute access token, set by the sign-in routes (the website)"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "The same access token in an Authorization header (mobile apps)"
      }
    },
    "schemas": {
      "UserResponse": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/PublicUser"
          }
        },
        "required": [
          "user"
        ]
      },
      "PublicUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "GUEST",
                "HOST",
                "ADMIN",
                "SUPPORT"
              ]
            }
          },
          "emailVerified": {
            "type": "boolean"
          },
          "phone": {
            "type": "string",
            "description": "Verified mobile number, E.164 (+64211234567)"
          },
          "phoneVerified": {
            "type": "boolean"
          },
          "mfaEnabled": {
            "type": "boolean",
            "description": "Staff: whether two-factor sign-in is on"
          },
          "pendingAgreements": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "TERMS",
                "PRIVACY",
                "GUEST",
                "HOST"
              ]
            },
            "description": "Legal documents with a new version the user must accept before carrying on (POST /me/agreements). Usually empty."
          }
        },
        "required": [
          "id",
          "email",
          "firstName",
          "lastName",
          "roles",
          "emailVerified",
          "phoneVerified",
          "mfaEnabled",
          "pendingAgreements"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable machine-readable code, e.g. VALIDATION_ERROR"
              },
              "message": {
                "type": "string",
                "description": "A message that can be shown to the user"
              },
              "fields": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "description": "One message per invalid input field"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "LoginResponse": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/UserResponse"
          },
          {
            "$ref": "#/components/schemas/MfaChallengeResponse"
          }
        ]
      },
      "MfaChallengeResponse": {
        "type": "object",
        "properties": {
          "mfaRequired": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "challenge": {
            "type": "string",
            "description": "Send back with the code to POST /auth/login/mfa (5 minutes)"
          }
        },
        "required": [
          "mfaRequired",
          "challenge"
        ]
      },
      "SessionResponse": {
        "type": "object",
        "properties": {
          "user": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PublicUser"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "user"
        ]
      },
      "EmailResponse": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "email"
        ]
      },
      "ResendVerificationResponse": {
        "type": "object",
        "properties": {
          "sent": {
            "type": "boolean",
            "description": "false when the email address is already confirmed"
          }
        },
        "required": [
          "sent"
        ]
      },
      "PhoneCodeResponse": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "description": "The number in E.164, e.g. +64211234567"
          },
          "sent": {
            "type": "boolean",
            "description": "false when it is already the verified number"
          }
        },
        "required": [
          "phone",
          "sent"
        ]
      },
      "AcceptAgreementsRequest": {
        "type": "object",
        "properties": {
          "types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "TERMS",
                "PRIVACY",
                "GUEST",
                "HOST"
              ]
            },
            "minItems": 1,
            "maxItems": 4
          }
        },
        "required": [
          "types"
        ]
      },
      "MfaStatus": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "maxDevices": {
            "type": "integer",
            "description": "How many authenticator apps an account can have"
          },
          "devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MfaDevice"
            }
          }
        },
        "required": [
          "enabled",
          "maxDevices",
          "devices"
        ]
      },
      "MfaDevice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "addedAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastUsedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The last time one of its codes was used"
          }
        },
        "required": [
          "id",
          "name",
          "addedAt"
        ]
      },
      "MfaSetupResponse": {
        "type": "object",
        "properties": {
          "secret": {
            "type": "string",
            "description": "For typing into the app by hand"
          },
          "otpauthUrl": {
            "type": "string"
          },
          "qrCode": {
            "type": "string",
            "description": "The otpauth URL as a PNG data: URL"
          }
        },
        "required": [
          "secret",
          "otpauthUrl",
          "qrCode"
        ]
      },
      "Favourites": {
        "type": "object",
        "properties": {
          "vehicleIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Saved cars, most recent first"
          }
        },
        "required": [
          "vehicleIds"
        ]
      },
      "LastSearch": {
        "type": "object",
        "properties": {
          "place": {
            "type": "string",
            "maxLength": 100
          },
          "lat": {
            "type": "number",
            "minimum": -48,
            "maximum": -33
          },
          "lng": {
            "type": "number",
            "minimum": 165,
            "maximum": 179.9
          },
          "start": {
            "type": "string",
            "maxLength": 40,
            "description": "\"2026-10-12T10:00\" in NZ time"
          },
          "end": {
            "type": "string",
            "maxLength": 40
          }
        }
      },
      "AdminOverview": {
        "type": "object",
        "properties": {
          "metrics": {
            "type": "object",
            "properties": {
              "totalUsers": {
                "type": "integer"
              },
              "activeHosts": {
                "type": "integer"
              },
              "staffMembers": {
                "type": "integer"
              },
              "suspendedUsers": {
                "type": "integer"
              },
              "activeVehicles": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "upcomingBookings": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "bookingRevenueCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "pendingVerifications": {
                "type": [
                  "integer",
                  "null"
                ]
              }
            },
            "required": [
              "totalUsers",
              "activeHosts",
              "staffMembers",
              "suspendedUsers",
              "activeVehicles",
              "upcomingBookings",
              "bookingRevenueCents",
              "pendingVerifications"
            ]
          },
          "generatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "metrics",
          "generatedAt"
        ]
      },
      "TestPayment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The Stripe PaymentIntent id (pi_…)"
          },
          "clientSecret": {
            "type": "string",
            "description": "Lets Stripe.js on the page confirm this one payment. Never logged or stored."
          },
          "amountCents": {
            "type": "integer"
          },
          "currency": {
            "type": "string",
            "enum": [
              "nzd"
            ]
          }
        },
        "required": [
          "id",
          "clientSecret",
          "amountCents",
          "currency"
        ]
      },
      "TestPaymentStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "The PaymentIntent status: succeeded, processing, requires_payment_method, requires_action, canceled, …"
          },
          "amountCents": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "paymentMethod": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "type": {
                "type": "string",
                "description": "The payment method type, e.g. card or link"
              },
              "wallet": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "apple_pay or google_pay when a card was paid through a wallet"
              },
              "brand": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "The card brand, e.g. visa"
              },
              "last4": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "type",
              "wallet",
              "brand",
              "last4"
            ],
            "description": "Null until the payment has been attempted"
          },
          "webhookReceived": {
            "type": "boolean",
            "description": "Whether Stripe’s payment_intent.succeeded event reached the webhook"
          }
        },
        "required": [
          "id",
          "status",
          "amountCents",
          "currency",
          "paymentMethod",
          "webhookReceived"
        ]
      },
      "ExchangeRates": {
        "type": "object",
        "properties": {
          "base": {
            "type": "string",
            "enum": [
              "NZD"
            ]
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "The day the rates are for; the ECB publishes on European working days"
          },
          "source": {
            "type": "string",
            "description": "Who published the rates"
          },
          "rates": {
            "type": "object",
            "properties": {
              "AUD": {
                "type": "number",
                "exclusiveMinimum": 0
              },
              "USD": {
                "type": "number",
                "exclusiveMinimum": 0
              },
              "EUR": {
                "type": "number",
                "exclusiveMinimum": 0
              },
              "CAD": {
                "type": "number",
                "exclusiveMinimum": 0
              }
            },
            "required": [
              "AUD",
              "USD",
              "EUR",
              "CAD"
            ],
            "description": "How much of each currency NZ$1 buys"
          }
        },
        "required": [
          "base",
          "date",
          "source",
          "rates"
        ]
      },
      "SearchResults": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VehicleCard"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "place": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "label": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "lat": {
                "type": "number"
              },
              "lng": {
                "type": "number"
              },
              "airportCode": {
                "type": "string"
              }
            },
            "required": [
              "label",
              "type",
              "lat",
              "lng"
            ],
            "description": "The place searched; null for all of NZ"
          },
          "radiusKm": {
            "type": "number"
          },
          "dates": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "start": {
                "type": "string",
                "format": "date-time"
              },
              "end": {
                "type": "string",
                "format": "date-time"
              },
              "days": {
                "type": "integer"
              }
            },
            "required": [
              "start",
              "end",
              "days"
            ]
          },
          "placeNotFound": {
            "type": "boolean",
            "description": "The typed place matched nothing, so the results cover all of NZ"
          }
        },
        "required": [
          "results",
          "total",
          "page",
          "pageSize",
          "place",
          "radiusKm",
          "dates",
          "placeNotFound"
        ]
      },
      "VehicleCard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string",
            "description": "e.g. \"2022 Toyota RAV4\""
          },
          "make": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "year": {
            "type": "integer"
          },
          "variant": {
            "type": "string"
          },
          "photo": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "url": {
                "type": "string"
              },
              "alt": {
                "type": "string"
              }
            },
            "required": [
              "url",
              "alt"
            ]
          },
          "suburb": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "distanceKm": {
            "type": [
              "number",
              "null"
            ],
            "description": "From the searched place; null without one"
          },
          "rating": {
            "$ref": "#/components/schemas/Rating"
          },
          "tripCount": {
            "type": "integer"
          },
          "dailyCents": {
            "type": "integer"
          },
          "estimate": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "days": {
                "type": "integer"
              },
              "totalCents": {
                "type": "integer",
                "description": "Every mandatory charge for the dates (rental, service fee, mandatory protection, GST), plus airport delivery for an airport search"
              },
              "includesAirportDelivery": {
                "type": "boolean"
              }
            },
            "required": [
              "days",
              "totalCents",
              "includesAirportDelivery"
            ],
            "description": "Only when the search has dates"
          },
          "instantBook": {
            "type": "boolean"
          },
          "delivery": {
            "type": "boolean",
            "description": "Delivers to an address"
          },
          "airportDelivery": {
            "type": "boolean"
          },
          "bodyType": {
            "type": "string",
            "enum": [
              "HATCHBACK",
              "SEDAN",
              "WAGON",
              "SUV",
              "UTE",
              "VAN",
              "PEOPLE_MOVER",
              "COUPE",
              "CONVERTIBLE"
            ]
          },
          "fuelType": {
            "type": "string",
            "enum": [
              "PETROL",
              "DIESEL",
              "HYBRID",
              "PHEV",
              "EV"
            ]
          },
          "transmission": {
            "type": "string",
            "enum": [
              "AUTOMATIC",
              "MANUAL"
            ]
          },
          "seats": {
            "type": "integer"
          },
          "unlimitedKm": {
            "type": "boolean"
          },
          "petFriendly": {
            "type": "boolean"
          },
          "childSeat": {
            "type": "boolean"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Up to three key features"
          }
        },
        "required": [
          "id",
          "slug",
          "title",
          "make",
          "model",
          "year",
          "photo",
          "distanceKm",
          "rating",
          "tripCount",
          "dailyCents",
          "estimate",
          "instantBook",
          "delivery",
          "airportDelivery",
          "bodyType",
          "fuelType",
          "transmission",
          "seats",
          "unlimitedKm",
          "petFriendly",
          "childSeat",
          "features"
        ]
      },
      "Rating": {
        "type": "object",
        "properties": {
          "avg": {
            "type": "number"
          },
          "count": {
            "type": "integer"
          }
        },
        "required": [
          "avg",
          "count"
        ],
        "description": "Average stars and how many reviews; count 0 shows as \"New\""
      },
      "VehicleMakes": {
        "type": "object",
        "properties": {
          "makes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "make": {
                  "type": "string"
                },
                "models": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "make",
                "models"
              ]
            }
          }
        },
        "required": [
          "makes"
        ]
      },
      "PlaceSuggestions": {
        "type": "object",
        "properties": {
          "suggestions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlaceSuggestion"
            }
          }
        },
        "required": [
          "suggestions"
        ]
      },
      "PlaceSuggestion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "`place:<id>` for our places, `google:<placeId>` for a street address"
          },
          "type": {
            "type": "string",
            "enum": [
              "CITY",
              "SUBURB",
              "AIRPORT",
              "DESTINATION",
              "ADDRESS"
            ]
          },
          "name": {
            "type": "string"
          },
          "label": {
            "type": "string",
            "description": "What to show and put in the field, e.g. \"Auckland Airport (AKL)\""
          },
          "secondary": {
            "type": "string",
            "description": "The city or region under the name"
          },
          "code": {
            "type": "string",
            "description": "Airports: the IATA code"
          },
          "lat": {
            "type": "number",
            "description": "Our places include coordinates; addresses need GET /places/{id}"
          },
          "lng": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "type",
          "name",
          "label"
        ]
      },
      "PlaceResponse": {
        "type": "object",
        "properties": {
          "place": {
            "$ref": "#/components/schemas/PlaceDetails"
          }
        },
        "required": [
          "place"
        ]
      },
      "PlaceDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "`place:<id>` for our places, `google:<placeId>` for a street address"
          },
          "type": {
            "type": "string",
            "enum": [
              "CITY",
              "SUBURB",
              "AIRPORT",
              "DESTINATION",
              "ADDRESS"
            ]
          },
          "name": {
            "type": "string"
          },
          "label": {
            "type": "string",
            "description": "What to show and put in the field, e.g. \"Auckland Airport (AKL)\""
          },
          "secondary": {
            "type": "string",
            "description": "The city or region under the name"
          },
          "code": {
            "type": "string",
            "description": "Airports: the IATA code"
          },
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          },
          "address": {
            "type": "object",
            "properties": {
              "unit": {
                "type": "string",
                "maxLength": 20
              },
              "streetNumber": {
                "type": "string",
                "maxLength": 20
              },
              "street": {
                "type": "string",
                "minLength": 2,
                "maxLength": 120
              },
              "suburb": {
                "type": "string",
                "maxLength": 80
              },
              "city": {
                "type": "string",
                "minLength": 2,
                "maxLength": 80
              },
              "region": {
                "type": "string",
                "enum": [
                  "Northland",
                  "Auckland",
                  "Waikato",
                  "Bay of Plenty",
                  "Gisborne",
                  "Hawke's Bay",
                  "Taranaki",
                  "Manawatū-Whanganui",
                  "Wellington",
                  "Tasman",
                  "Nelson",
                  "Marlborough",
                  "West Coast",
                  "Canterbury",
                  "Otago",
                  "Southland"
                ]
              },
              "postcode": {
                "type": "string",
                "pattern": "^\\d{4}$"
              }
            },
            "required": [
              "street",
              "city",
              "region",
              "postcode"
            ],
            "description": "A street address in the structured NZ format, when every part is known"
          }
        },
        "required": [
          "id",
          "type",
          "name",
          "label",
          "lat",
          "lng"
        ]
      },
      "FeaturedVehicles": {
        "type": "object",
        "properties": {
          "vehicles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VehicleCard"
            }
          }
        },
        "required": [
          "vehicles"
        ]
      },
      "VehicleResponse": {
        "type": "object",
        "properties": {
          "vehicle": {
            "$ref": "#/components/schemas/VehicleDetail"
          }
        },
        "required": [
          "vehicle"
        ]
      },
      "VehicleDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "make": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "year": {
            "type": "integer"
          },
          "variant": {
            "type": "string"
          },
          "bodyType": {
            "type": "string",
            "enum": [
              "HATCHBACK",
              "SEDAN",
              "WAGON",
              "SUV",
              "UTE",
              "VAN",
              "PEOPLE_MOVER",
              "COUPE",
              "CONVERTIBLE"
            ]
          },
          "fuelType": {
            "type": "string",
            "enum": [
              "PETROL",
              "DIESEL",
              "HYBRID",
              "PHEV",
              "EV"
            ]
          },
          "transmission": {
            "type": "string",
            "enum": [
              "AUTOMATIC",
              "MANUAL"
            ]
          },
          "seats": {
            "type": "integer"
          },
          "doors": {
            "type": "integer"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "powertrain": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "engineCc": {
                "type": "number"
              },
              "cylinders": {
                "type": "number"
              },
              "description": {
                "type": "string"
              },
              "evRangeKm": {
                "type": "number"
              },
              "batteryKwh": {
                "type": "number"
              }
            }
          },
          "fuelPolicy": {
            "type": "string",
            "enum": [
              "SAME_LEVEL",
              "FULL"
            ]
          },
          "kmAllowancePerDay": {
            "type": [
              "number",
              "null"
            ]
          },
          "unlimitedKm": {
            "type": "boolean"
          },
          "extraKmCents": {
            "type": "integer"
          },
          "petFriendly": {
            "type": "boolean"
          },
          "childSeat": {
            "type": "boolean"
          },
          "pricing": {
            "type": "object",
            "properties": {
              "dailyCents": {
                "type": "integer"
              },
              "weeklyDiscountPct": {
                "type": "number"
              },
              "monthlyDiscountPct": {
                "type": "number"
              }
            },
            "required": [
              "dailyCents",
              "weeklyDiscountPct",
              "monthlyDiscountPct"
            ]
          },
          "rules": {
            "type": "object",
            "properties": {
              "minDays": {
                "type": "integer"
              },
              "maxDays": {
                "type": "integer"
              },
              "minNoticeHours": {
                "type": "number"
              },
              "bufferHours": {
                "type": "number"
              },
              "instantBook": {
                "type": "boolean"
              }
            },
            "required": [
              "minDays",
              "maxDays",
              "minNoticeHours",
              "bufferHours",
              "instantBook"
            ]
          },
          "cancellationTier": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "pattern": "^[A-Z][A-Z_]*$"
              },
              "name": {
                "type": "string",
                "minLength": 1
              },
              "summary": {
                "type": "string",
                "minLength": 1
              },
              "refunds": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "minHoursBefore": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "refundPct": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 100
                    }
                  },
                  "required": [
                    "minHoursBefore",
                    "refundPct"
                  ]
                },
                "minItems": 1
              }
            },
            "required": [
              "code",
              "name",
              "summary",
              "refunds"
            ]
          },
          "photos": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "FRONT",
                    "REAR",
                    "DRIVER",
                    "PASSENGER",
                    "INTERIOR",
                    "DASH",
                    "BOOT",
                    "TYRES",
                    "DAMAGE"
                  ]
                },
                "url": {
                  "type": "string"
                },
                "alt": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "type",
                "url",
                "alt"
              ]
            }
          },
          "compliance": {
            "$ref": "#/components/schemas/VehicleCompliance"
          },
          "location": {
            "type": "object",
            "properties": {
              "suburb": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "region": {
                "type": "string"
              },
              "approx": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "lat": {
                    "type": "number"
                  },
                  "lng": {
                    "type": "number"
                  },
                  "radiusM": {
                    "type": "number"
                  }
                },
                "required": [
                  "lat",
                  "lng",
                  "radiusM"
                ],
                "description": "A circle that contains the car, for the map; never its address"
              }
            },
            "required": [
              "approx"
            ]
          },
          "deliveryOptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeliveryOptionSummary"
            }
          },
          "protectionPlans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProtectionPlanSummary"
            }
          },
          "rating": {
            "$ref": "#/components/schemas/Rating"
          },
          "tripCount": {
            "type": "integer"
          },
          "host": {
            "$ref": "#/components/schemas/PublicHost"
          }
        },
        "required": [
          "id",
          "slug",
          "title",
          "make",
          "model",
          "year",
          "bodyType",
          "fuelType",
          "transmission",
          "seats",
          "doors",
          "features",
          "powertrain",
          "fuelPolicy",
          "kmAllowancePerDay",
          "unlimitedKm",
          "extraKmCents",
          "petFriendly",
          "childSeat",
          "pricing",
          "rules",
          "cancellationTier",
          "photos",
          "compliance",
          "location",
          "deliveryOptions",
          "protectionPlans",
          "rating",
          "tripCount",
          "host"
        ]
      },
      "VehicleCompliance": {
        "type": "object",
        "properties": {
          "rego": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "CURRENT",
                  "EXPIRED",
                  "NOT_RECORDED"
                ]
              },
              "expiresMonth": {
                "type": "string",
                "description": "YYYY-MM"
              }
            },
            "required": [
              "status"
            ]
          },
          "inspection": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "CURRENT",
                  "EXPIRED",
                  "NOT_RECORDED"
                ]
              },
              "expiresMonth": {
                "type": "string",
                "description": "YYYY-MM"
              },
              "kind": {
                "type": "string",
                "enum": [
                  "WOF",
                  "COF"
                ],
                "description": "A Warrant of Fitness, or a Certificate of Fitness"
              }
            },
            "required": [
              "status",
              "kind"
            ]
          },
          "ruc": {
            "type": "object",
            "properties": {
              "required": {
                "type": "boolean",
                "description": "Diesel, EV and plug-in hybrid cars pay Road User Charges"
              },
              "recorded": {
                "type": "boolean"
              }
            },
            "required": [
              "required",
              "recorded"
            ]
          }
        },
        "required": [
          "rego",
          "inspection",
          "ruc"
        ]
      },
      "DeliveryOptionSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "PICKUP",
              "DELIVERY",
              "AIRPORT",
              "CUSTOM"
            ]
          },
          "label": {
            "type": "string"
          },
          "feeCents": {
            "type": "integer"
          },
          "airportCode": {
            "type": "string"
          },
          "radiusKm": {
            "type": "number",
            "description": "DELIVERY: how far from the car it delivers"
          },
          "area": {
            "type": "string",
            "description": "PICKUP and CUSTOM: the suburb and city only"
          }
        },
        "required": [
          "id",
          "type",
          "label",
          "feeCents"
        ]
      },
      "ProtectionPlanSummary": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "dailyPriceCents": {
            "type": "integer"
          },
          "excessCents": {
            "type": "integer"
          },
          "coverSummary": {
            "type": "string"
          },
          "mandatory": {
            "type": "boolean"
          }
        },
        "required": [
          "code",
          "name",
          "dailyPriceCents",
          "excessCents",
          "coverSummary",
          "mandatory"
        ]
      },
      "PublicHost": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string"
          },
          "rating": {
            "$ref": "#/components/schemas/Rating"
          },
          "tripCount": {
            "type": "integer"
          },
          "responseRate": {
            "type": "number",
            "description": "Share of booking requests answered, 0–100"
          },
          "verified": {
            "type": "boolean",
            "description": "Identity verified"
          },
          "joinedYear": {
            "type": "integer"
          },
          "bio": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "firstName",
          "rating",
          "tripCount",
          "verified",
          "joinedYear"
        ]
      },
      "VehicleAvailability": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "date-time"
          },
          "to": {
            "type": "string",
            "format": "date-time"
          },
          "busy": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "start": {
                  "type": "string",
                  "format": "date-time"
                },
                "end": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "required": [
                "start",
                "end"
              ]
            },
            "description": "When the car is taken, merged; never why"
          },
          "minNoticeHours": {
            "type": "number"
          },
          "bufferHours": {
            "type": "number"
          },
          "minDays": {
            "type": "integer"
          },
          "maxDays": {
            "type": "integer"
          }
        },
        "required": [
          "from",
          "to",
          "busy",
          "minNoticeHours",
          "bufferHours",
          "minDays",
          "maxDays"
        ]
      },
      "VehicleReviews": {
        "type": "object",
        "properties": {
          "reviews": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VehicleReview"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "rating": {
            "$ref": "#/components/schemas/Rating"
          },
          "categories": {
            "type": "object",
            "properties": {
              "cleanliness": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "communication": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "pickupReturn": {
                "type": [
                  "number",
                  "null"
                ]
              }
            },
            "required": [
              "cleanliness",
              "communication",
              "pickupReturn"
            ],
            "description": "Average stars in each category"
          }
        },
        "required": [
          "reviews",
          "total",
          "page",
          "pageSize",
          "rating",
          "categories"
        ]
      },
      "VehicleReview": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "author": {
            "type": "object",
            "properties": {
              "firstName": {
                "type": "string"
              },
              "avatarUrl": {
                "type": "string"
              }
            },
            "required": [
              "firstName"
            ]
          },
          "overall": {
            "type": "integer"
          },
          "body": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "author",
          "overall",
          "createdAt"
        ]
      },
      "QuoteResponse": {
        "type": "object",
        "properties": {
          "quote": {
            "$ref": "#/components/schemas/Quote"
          }
        },
        "required": [
          "quote"
        ]
      },
      "Quote": {
        "type": "object",
        "properties": {
          "available": {
            "type": "boolean",
            "description": "False when there are problems; the price is still shown"
          },
          "problems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TripProblem"
            }
          },
          "start": {
            "type": "string",
            "format": "date-time"
          },
          "end": {
            "type": "string",
            "format": "date-time"
          },
          "days": {
            "type": "integer"
          },
          "lineItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LineItem"
            }
          },
          "price": {
            "$ref": "#/components/schemas/GuestPrice"
          },
          "protectionPlan": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ProtectionPlanSummary"
              },
              {
                "type": [
                  "object",
                  "null"
                ]
              }
            ]
          },
          "pickup": {
            "$ref": "#/components/schemas/DeliveryOptionSummary"
          },
          "dropoff": {
            "$ref": "#/components/schemas/DeliveryOptionSummary"
          },
          "instantBook": {
            "type": "boolean"
          },
          "cancellationTier": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "pattern": "^[A-Z][A-Z_]*$"
              },
              "name": {
                "type": "string",
                "minLength": 1
              },
              "summary": {
                "type": "string",
                "minLength": 1
              },
              "refunds": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "minHoursBefore": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "refundPct": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 100
                    }
                  },
                  "required": [
                    "minHoursBefore",
                    "refundPct"
                  ]
                },
                "minItems": 1
              }
            },
            "required": [
              "code",
              "name",
              "summary",
              "refunds"
            ]
          }
        },
        "required": [
          "available",
          "problems",
          "start",
          "end",
          "days",
          "lineItems",
          "price",
          "protectionPlan",
          "pickup",
          "dropoff",
          "instantBook",
          "cancellationTier"
        ]
      },
      "TripProblem": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "DATES_UNAVAILABLE",
              "NOTICE_TOO_SHORT",
              "TRIP_TOO_SHORT",
              "TRIP_TOO_LONG",
              "DOCUMENTS_EXPIRE",
              "OPTION_NOT_FOUND",
              "ADDRESS_NEEDED",
              "OUTSIDE_DELIVERY_AREA",
              "PLAN_NOT_FOUND"
            ]
          },
          "message": {
            "type": "string"
          },
          "field": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "LineItem": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "amountCents": {
            "type": "integer",
            "description": "Negative for a discount"
          },
          "gstCents": {
            "type": "integer"
          },
          "mandatory": {
            "type": "boolean"
          }
        },
        "required": [
          "code",
          "label",
          "amountCents",
          "gstCents",
          "mandatory"
        ]
      },
      "GuestPrice": {
        "type": "object",
        "properties": {
          "subtotalCents": {
            "type": "integer",
            "description": "Rental, after any discount"
          },
          "deliveryCents": {
            "type": "integer"
          },
          "serviceFeeCents": {
            "type": "integer"
          },
          "protectionCents": {
            "type": "integer"
          },
          "gstCents": {
            "type": "integer",
            "description": "GST included in the total"
          },
          "totalCents": {
            "type": "integer"
          },
          "mandatoryCents": {
            "type": "integer"
          },
          "optionalCents": {
            "type": "integer"
          }
        },
        "required": [
          "subtotalCents",
          "deliveryCents",
          "serviceFeeCents",
          "protectionCents",
          "gstCents",
          "totalCents",
          "mandatoryCents",
          "optionalCents"
        ]
      },
      "QuoteRequest": {
        "type": "object",
        "properties": {
          "start": {
            "type": "string",
            "description": "\"2026-10-12T10:00\" in NZ time, or ISO 8601 with an offset"
          },
          "end": {
            "type": "string"
          },
          "pickupOptionId": {
            "type": "string",
            "description": "Left out: collect from the Host"
          },
          "returnOptionId": {
            "type": "string",
            "description": "Left out: the same as pick-up"
          },
          "deliveryAddress": {
            "type": "object",
            "properties": {
              "unit": {
                "type": "string",
                "maxLength": 20
              },
              "streetNumber": {
                "type": "string",
                "maxLength": 20
              },
              "street": {
                "type": "string",
                "minLength": 2,
                "maxLength": 120
              },
              "suburb": {
                "type": "string",
                "maxLength": 80
              },
              "city": {
                "type": "string",
                "minLength": 2,
                "maxLength": 80
              },
              "region": {
                "type": "string",
                "enum": [
                  "Northland",
                  "Auckland",
                  "Waikato",
                  "Bay of Plenty",
                  "Gisborne",
                  "Hawke's Bay",
                  "Taranaki",
                  "Manawatū-Whanganui",
                  "Wellington",
                  "Tasman",
                  "Nelson",
                  "Marlborough",
                  "West Coast",
                  "Canterbury",
                  "Otago",
                  "Southland"
                ]
              },
              "postcode": {
                "type": "string",
                "pattern": "^\\d{4}$"
              },
              "lat": {
                "type": "number",
                "minimum": -48,
                "maximum": -33
              },
              "lng": {
                "type": "number",
                "minimum": 165,
                "maximum": 179.9
              }
            },
            "required": [
              "street",
              "city",
              "region",
              "postcode",
              "lat",
              "lng"
            ],
            "description": "Needed for a DELIVERY option"
          },
          "protectionPlanCode": {
            "type": "string",
            "description": "Left out: the mandatory plan"
          }
        },
        "required": [
          "start",
          "end"
        ]
      },
      "Destinations": {
        "type": "object",
        "properties": {
          "destinations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DestinationSummary"
            }
          }
        },
        "required": [
          "destinations"
        ]
      },
      "DestinationSummary": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "maoriName": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "tagline": {
            "type": "string"
          },
          "heroImage": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          },
          "airports": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IATA codes of the airports that serve it"
          }
        },
        "required": [
          "slug",
          "city",
          "region",
          "lat",
          "lng",
          "airports"
        ]
      },
      "DestinationResponse": {
        "type": "object",
        "properties": {
          "destination": {
            "$ref": "#/components/schemas/DestinationDetail"
          }
        },
        "required": [
          "destination"
        ]
      },
      "DestinationDetail": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "maoriName": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "tagline": {
            "type": "string"
          },
          "heroImage": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          },
          "airports": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IATA codes of the airports that serve it"
          },
          "intro": {
            "type": "string"
          }
        },
        "required": [
          "slug",
          "city",
          "region",
          "lat",
          "lng",
          "airports",
          "intro"
        ]
      },
      "LegalPageResponse": {
        "type": "object",
        "properties": {
          "page": {
            "$ref": "#/components/schemas/LegalPage"
          }
        },
        "required": [
          "page"
        ]
      },
      "LegalPage": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "enum": [
              "legal.terms",
              "legal.privacy",
              "legal.cancellation-policy",
              "legal.host-agreement",
              "legal.guest-agreement"
            ]
          },
          "version": {
            "type": "string",
            "description": "The document version users accept"
          },
          "title": {
            "type": "string"
          },
          "markdown": {
            "type": "string",
            "description": "The document in Markdown"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "key",
          "version",
          "title",
          "markdown",
          "updatedAt"
        ]
      },
      "Faqs": {
        "type": "object",
        "properties": {
          "faqs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Faq"
            }
          }
        },
        "required": [
          "faqs"
        ]
      },
      "Faq": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "question": {
            "type": "string"
          },
          "answer": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "audience": {
            "type": "string",
            "enum": [
              "GUEST",
              "HOST",
              "ALL"
            ]
          }
        },
        "required": [
          "id",
          "question",
          "answer",
          "category",
          "audience"
        ]
      },
      "PublicPolicies": {
        "type": "object",
        "properties": {
          "fees": {
            "type": "object",
            "properties": {
              "guestServiceFeePct": {
                "type": "number"
              },
              "hostCommissionPct": {
                "type": "number"
              },
              "gstRatePct": {
                "type": "number"
              }
            },
            "required": [
              "guestServiceFeePct",
              "hostCommissionPct",
              "gstRatePct"
            ]
          },
          "cancellation": {
            "type": "object",
            "properties": {
              "tiers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "pattern": "^[A-Z][A-Z_]*$"
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "summary": {
                      "type": "string",
                      "minLength": 1
                    },
                    "refunds": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "minHoursBefore": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "refundPct": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 100
                          }
                        },
                        "required": [
                          "minHoursBefore",
                          "refundPct"
                        ]
                      },
                      "minItems": 1
                    }
                  },
                  "required": [
                    "code",
                    "name",
                    "summary",
                    "refunds"
                  ]
                }
              },
              "hostSelectableTiers": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "defaultTier": {
                "type": "string"
              },
              "hostCancellationFeeCents": {
                "type": "integer"
              }
            },
            "required": [
              "tiers",
              "hostSelectableTiers",
              "defaultTier",
              "hostCancellationFeeCents"
            ]
          },
          "protectionPlans": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "pattern": "^[A-Z][A-Z_]*$"
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "dailyPriceCents": {
                  "type": "integer",
                  "minimum": 0
                },
                "excessCents": {
                  "type": "integer",
                  "minimum": 0
                },
                "coverSummary": {
                  "type": "string",
                  "minLength": 1
                },
                "mandatory": {
                  "type": "boolean"
                }
              },
              "required": [
                "code",
                "name",
                "dailyPriceCents",
                "excessCents",
                "coverSummary",
                "mandatory"
              ]
            }
          },
          "eligibility": {
            "type": "object",
            "properties": {
              "minAge": {
                "type": "integer"
              },
              "minYearsLicensed": {
                "type": "number"
              },
              "acceptedLicenceClasses": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "NZ_FULL",
                    "NZ_RESTRICTED",
                    "NZ_LEARNER",
                    "OVERSEAS"
                  ]
                }
              },
              "overseasNeedsEnglishProof": {
                "type": "boolean"
              }
            },
            "required": [
              "minAge",
              "minYearsLicensed",
              "acceptedLicenceClasses",
              "overseasNeedsEnglishProof"
            ]
          },
          "vehicles": {
            "type": "object",
            "properties": {
              "requiredDocuments": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "REGO",
                    "WOF",
                    "COF",
                    "RUC",
                    "INSURANCE",
                    "OWNER_CONSENT",
                    "OTHER"
                  ]
                }
              },
              "requiredPhotoAngles": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "FRONT",
                    "REAR",
                    "DRIVER",
                    "PASSENGER",
                    "INTERIOR",
                    "DASH",
                    "BOOT",
                    "TYRES",
                    "DAMAGE"
                  ]
                }
              },
              "vinOrChassisRequired": {
                "type": "boolean"
              },
              "minPhotoWidthPx": {
                "type": "integer"
              },
              "minPhotoHeightPx": {
                "type": "integer"
              },
              "seats": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "integer"
                  },
                  "max": {
                    "type": "integer"
                  }
                },
                "required": [
                  "min",
                  "max"
                ]
              },
              "doors": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "integer"
                  },
                  "max": {
                    "type": "integer"
                  }
                },
                "required": [
                  "min",
                  "max"
                ]
              },
              "dailyPriceCents": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "integer"
                  },
                  "max": {
                    "type": "integer"
                  }
                },
                "required": [
                  "min",
                  "max"
                ]
              },
              "maxDiscountPct": {
                "type": "number"
              }
            },
            "required": [
              "requiredDocuments",
              "requiredPhotoAngles",
              "vinOrChassisRequired",
              "minPhotoWidthPx",
              "minPhotoHeightPx",
              "seats",
              "doors",
              "dailyPriceCents",
              "maxDiscountPct"
            ]
          },
          "search": {
            "type": "object",
            "properties": {
              "maxTripDays": {
                "type": "integer"
              },
              "radiusKm": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "number"
                  },
                  "default": {
                    "type": "number"
                  },
                  "max": {
                    "type": "number"
                  }
                },
                "required": [
                  "min",
                  "default",
                  "max"
                ]
              }
            },
            "required": [
              "maxTripDays",
              "radiusKm"
            ]
          },
          "hostEstimator": {
            "type": "object",
            "properties": {
              "bookedDaysPerMonth": {
                "type": "integer"
              },
              "dailyCentsByBodyType": {
                "type": "object",
                "properties": {
                  "HATCHBACK": {
                    "type": "integer"
                  },
                  "SEDAN": {
                    "type": "integer"
                  },
                  "WAGON": {
                    "type": "integer"
                  },
                  "SUV": {
                    "type": "integer"
                  },
                  "UTE": {
                    "type": "integer"
                  },
                  "VAN": {
                    "type": "integer"
                  },
                  "PEOPLE_MOVER": {
                    "type": "integer"
                  },
                  "COUPE": {
                    "type": "integer"
                  },
                  "CONVERTIBLE": {
                    "type": "integer"
                  }
                }
              }
            },
            "required": [
              "bookedDaysPerMonth",
              "dailyCentsByBodyType"
            ]
          },
          "reviews": {
            "type": "object",
            "properties": {
              "windowDays": {
                "type": "integer"
              }
            },
            "required": [
              "windowDays"
            ]
          },
          "trips": {
            "type": "object",
            "properties": {
              "lateReturnGraceMinutes": {
                "type": "integer"
              }
            },
            "required": [
              "lateReturnGraceMinutes"
            ]
          }
        },
        "required": [
          "fees",
          "cancellation",
          "protectionPlans",
          "eligibility",
          "vehicles",
          "search",
          "hostEstimator",
          "reviews",
          "trips"
        ]
      },
      "FeaturedReviews": {
        "type": "object",
        "properties": {
          "show": {
            "type": "boolean",
            "description": "False until the published reviews reach the homepage threshold in settings: hide the section"
          },
          "reviews": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeaturedReview"
            }
          }
        },
        "required": [
          "show",
          "reviews"
        ]
      },
      "FeaturedReview": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "author": {
            "type": "object",
            "properties": {
              "firstName": {
                "type": "string"
              },
              "avatarUrl": {
                "type": "string"
              }
            },
            "required": [
              "firstName"
            ]
          },
          "overall": {
            "type": "integer"
          },
          "body": {
            "type": "string"
          },
          "vehicleTitle": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "author",
          "overall",
          "body",
          "vehicleTitle",
          "createdAt"
        ]
      },
      "ContactResponse": {
        "type": "object",
        "properties": {
          "ref": {
            "type": "string",
            "description": "The support ticket reference, e.g. ST-4HX8PA"
          }
        },
        "required": [
          "ref"
        ]
      },
      "ContactRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 100
          },
          "email": {
            "type": "string",
            "maxLength": 254,
            "format": "email"
          },
          "category": {
            "type": "string",
            "enum": [
              "BOOKING",
              "PAYMENT",
              "ACCOUNT",
              "HOSTING",
              "SAFETY",
              "PRIVACY",
              "OTHER"
            ],
            "default": "OTHER"
          },
          "subject": {
            "type": "string",
            "minLength": 3,
            "maxLength": 200
          },
          "message": {
            "type": "string",
            "minLength": 10,
            "maxLength": 5000
          },
          "bookingRef": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^RV-[A-Z0-9]{6}$"
              },
              {
                "type": "string",
                "enum": [
                  ""
                ]
              }
            ]
          }
        },
        "required": [
          "name",
          "email",
          "subject",
          "message"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/auth/signup": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Create a Guest account",
        "description": "Records acceptance of the current Terms and Privacy Policy, emails a link to confirm the address, and signs the new user in (sets the auth cookies). Passwords need 10+ characters, not a common one and not the email name. Rate-limited per IP.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 50
                  },
                  "lastName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 50
                  },
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 254
                  },
                  "password": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 200
                  },
                  "acceptTerms": {
                    "type": "boolean",
                    "enum": [
                      true
                    ]
                  }
                },
                "required": [
                  "firstName",
                  "lastName",
                  "email",
                  "password",
                  "acceptTerms"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created and signed in",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. `error.fields` has one message per invalid field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflicts with existing data, e.g. the email address already has an account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests; try again later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Sign in with email and password",
        "description": "Sets the httpOnly auth cookies. Staff with an authenticator app get `mfaRequired` and a challenge instead, for POST /auth/login/mfa. `portal: \"admin\"` refuses accounts without a staff role. Rate-limited per IP, and sign-in locks for 15 minutes after 5 wrong passwords.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 254
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "portal": {
                    "type": "string",
                    "enum": [
                      "app",
                      "admin"
                    ],
                    "default": "app"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed in, or the authenticator code is needed next",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. `error.fields` has one message per invalid field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, or the session has ended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Signed in, but this account can't do this (or the request came from an untrusted origin)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Sign-in is paused after too many wrong passwords",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests; try again later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login/mfa": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Finish a staff sign-in with the authenticator code",
        "description": "The challenge from POST /auth/login and the 6-digit code from the app. Each code works once. After 5 wrong codes, or 5 minutes, the challenge expires (401 MFA_CHALLENGE_EXPIRED) and the password is needed again.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "challenge": {
                    "type": "string",
                    "minLength": 20,
                    "maxLength": 200
                  },
                  "code": {
                    "type": "string"
                  }
                },
                "required": [
                  "challenge",
                  "code"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed in",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. `error.fields` has one message per invalid field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, or the session has ended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests; try again later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/session": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Who is signed in on this browser",
        "description": "The website's check on page load. Always 200: `user` is null for a visitor. Renews an expired access token with the refresh cookie in the same call.",
        "responses": {
          "200": {
            "description": "The signed-in user, or null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Renew the session",
        "description": "Swaps the refresh cookie for a new pair of cookies. Each refresh token works once.",
        "responses": {
          "200": {
            "description": "Renewed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, or the session has ended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Sign out",
        "description": "Ends the session and clears the auth cookies.",
        "responses": {
          "204": {
            "description": "Signed out"
          }
        }
      }
    },
    "/auth/verify-email": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Confirm an email address",
        "description": "The token from the link in the confirmation email. Each link works once and expires after 24 hours. Works signed out.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 20,
                    "maxLength": 200
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. `error.fields` has one message per invalid field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests; try again later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/verify-email/resend": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Send a new confirmation link",
        "description": "The previous link stops working. Up to 5 an hour per user.",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sent, or not needed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResendVerificationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, or the session has ended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests; try again later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/forgot-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Email a link to choose a new password",
        "description": "Sent only if the address has an account, but the answer is the same either way, so it can’t be used to find out who has one. The link works once and expires after 1 hour.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 254
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Sent if the account exists"
          },
          "400": {
            "description": "Invalid input. `error.fields` has one message per invalid field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests; try again later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/reset-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Choose a new password from the emailed link",
        "description": "Signs the account out on every device and emails \"Password changed\". The link also confirms the email address. It does not sign in.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 20,
                    "maxLength": 200
                  },
                  "password": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 200
                  }
                },
                "required": [
                  "token",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. `error.fields` has one message per invalid field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests; try again later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/confirm-email-change": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Switch to a new email address",
        "description": "The token from the link sent to the new address (POST /me/email). The old address is told about the change. Works signed out.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 20,
                    "maxLength": 200
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The account now uses this address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. `error.fields` has one message per invalid field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflicts with existing data, e.g. the email address already has an account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests; try again later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/phone/otp": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Text a verification code to a mobile number",
        "description": "NZ numbers work without +64; overseas numbers need their country code. Landlines are refused. The number replaces the verified one only once its code is checked. 409 PHONE_TAKEN if another account verified it.",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 30
                  }
                },
                "required": [
                  "phone"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Code sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. `error.fields` has one message per invalid field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, or the session has ended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflicts with existing data, e.g. the email address already has an account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests; try again later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/phone/verify": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Check the SMS code",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  }
                },
                "required": [
                  "code"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The number is verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. `error.fields` has one message per invalid field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, or the session has ended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflicts with existing data, e.g. the email address already has an account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests; try again later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "The signed-in user",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The signed-in user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, or the session has ended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/me/password": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Change the password",
        "description": "Needs the current password. Signs out every other device (this one stays signed in) and emails \"Password changed\".",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currentPassword": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "newPassword": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 200
                  }
                },
                "required": [
                  "currentPassword",
                  "newPassword"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Changed"
          },
          "400": {
            "description": "Invalid input. `error.fields` has one message per invalid field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, or the session has ended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests; try again later",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/me/email": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Change the email address",
        "description": "Needs the current password. Emails a link to the new address; the current one keeps working until it is opened (POST /auth/confirm-email-change).",
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "newEmail": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 254
                  },
                  "currentPassword": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  }
                },
                "required": [
                  "newEmail",
                  "currentPassword"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Link sent to the new address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. `error.fields` has one message per invalid field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not signed in, or the session has ended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflicts with existing data, e.g. the email address already has an account",
            "content": {
[...]
